.proj-title {
  position: relative;
  margin-top: 16vh;
}

.proj-title-2 {
  margin-bottom: 3vh;
}

.proj-text{
  margin-left: 20vw;
  width: 60vw;
  margin-bottom: 15vh;
}

.proj-img {
  display: block;
  margin: auto;
  padding: 2vw;
}

.proj-section {
  margin-top: 8vh;
  margin-bottom: 6vh;
}
