
.aboutme{
  font-size: 20px;
  text-align: left;
  word-wrap: normal;
  margin-left: 16vw;
  margin-top: 18vh;
  width: 525px;
}

.cta{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

#worktitle{
  text-align: left;
  margin-left: 16vw;
  padding-top: 40vh;
  margin-bottom: 5vw;
}

.projects{
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-column-gap: 2%;
  margin-left: 16vw;
}
