.ide-carousel {
  width: 30vw;
  height: 80vh;
  margin: auto;
  margin-top: 8vh;
  background-color: black;
  margin-bottom: 6vh;
  position: fixed;
}

.ide-carousel-img {
  margin: auto;
  display: block;
  height:  80vh;
}


.hr-carousel {
  width: 30vw;
  height: 13vw;
}

.hr-carousel-img {
  height: 13vw;
}
