.links{
  margin-right: 15vw;
}

#brand {
  padding-left: 16vw;
  font-weight: bold;
}

.navbar {
  background-color: white;
  padding-top: 5px;
}

.navbar-light .navbar-text a:hover {
  color: #fc7e65 !important;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  border-width: 50%;
}