.links{
  margin-right: 10.5vw;
}

#brand {
  margin-left: 16vw;
  font-weight: bold;
}

.navbar {
  background-color: white;
}

#top-anchor-navbar {
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
}

.burger-menu {
  display: none;
}

.navbar-light .navbar-text a:hover {
  color: #fc7e65 !important;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  border-width: 50%;
}

@media screen and (max-width: 1150px) {
  .burger-menu {
    display: block;
    margin-right: 8vw;
    width: 200px;
    height: auto;
  }

  #brand {
    margin-left: 13vw;
  }

  .links {
    display: none;
  }

}