#init-extraction, #mid-extraction {
    width: 40vw;
}


@media screen and (max-width: 1000px) {
    #init-extraction, #mid-extraction {
        width: 60vw;
        height: auto;
        margin-left: 0px;
    }
}
