.projectile{
  width: 35vw;
  height: 25vw;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #303030;
}

.projectile:hover .overlay {
  opacity: 0.85;
}

.text {
  color: white;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 5%;
}

.subtitle {
  font-weight: 300;
}

.name {
  font-weight: 690;
}
