#disc_screenshot {
  width: 80%;
  margin: auto;
}

#lol_map {
  width: 60%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  #lol_map, #disc_screenshot {
    width: 60vw;
    height: auto;
  }
}
